@model COMP1004_Project.Models.Class

@{
    ViewData["Title"] = "Details";
}


<!-- A view to sgow details of a class using the Details asp action created in the class controller.
It utilises columns groups to show a simple overview of the class instance, this format was used for all of the details views
--!>

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hitdie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hitdie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
