@model CustomViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Characters</h1>
<p>Hello from our View Template!</p>


<div class="container">
    <div class="row">
        @foreach (var item in Model.Characters){
        
            <div class="card bg-secondary shadow-lg" style="width:18rem;">
                <div class="card-columns">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                    <div class="card-img" style="background-image: url('@item.Image');"></div>
                    </a>
                    <h4 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h4>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Classes) @Html.DisplayFor(modelItem => item.Level)
                    </p>

                </div>
                <div class="card-footer text-muted">
                    <hr />
                
                </div>
            </div>
   
        }
        <div class="card bg-secondary shadow-lg" style="width:18rem;">
            <a asp-action="Create">
            <div class="new-button">
                <div class="card-img" style="background-image: url('Images/new button.jpg');"></div>
                <h4 class="card-title">
                    
                    </h4>
                <p class ="card-text">
                    
                    </p>
            </div>
            <div class="card-footer text-muted">
                <a asp-action="Create">Create a new Character</a>
            </div>
            </a>
        </div>
    </div>
</div>
